{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<script>
  $(document).ready(function() {  
  var stickyNavTop = $('nav').offset().top;  
    
  var stickyNav = function(){  
  var scrollTop = $(window).scrollTop();  
         
  if (scrollTop > stickyNavTop) {   
      $('nav').addClass('sticky');  
  } else {  
      $('nav').removeClass('sticky');   
  }  
  };  
    
  stickyNav();  
    
  $(window).scroll(function() {  
      stickyNav();  
  });  
  });  
</script>

<script>
th_username = "johnkeith"
show_all_button = true

$(document).ready(function() {
  $.getJSON("http://teamtreehouse.com/" + th_username +".json", function(data) {
    var items = [];
    var number_of_badges = data.badges.length;
    var total_points = data.points.total;
    $.each(data.badges, function(k, v) {
       items.push( "<a href='" + v.url + "'><img src='" + v.icon_url + "' alt='" + v.name + "' title='" + v.name + "'/></a>");
    });
    
    $(".badges-box").append("<p>I've earned <strong>" + number_of_badges + " badges</strong> for a total of <strong>" + total_points + " points</strong> at Treehouse!</p>");
    
    $( "<ul/>", {
      "class": "badge-image-list", 
      html: items.reverse().join( "" )
    }).appendTo( ".badges-box" ).hide().fadeIn(500);
    
    if(show_all_button == true) {
      $( ".badge-image-list img:gt(5)").hide();

      $(".badges-box").append("<button id='show-all'>See all badges</button>");

      $("#show-all").click(function() {
        $( ".badge-image-list img:gt(5)").toggle(0, "linear", function() {
          if($("#show-all").html() == "See all badges") {
            $("#show-all").html("Hide badges");
          } else {
            $("#show-all").html("See all badges");
          };
        });
      });
    };
  });
});
</script>
